
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Poppins', sans-serif;
}

nav {
    height: 100px;
    width: auto;
    display: flex;
    padding: 10px 40px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
    background-color:yellowgreen;
}

.nav--logo {
    max-height: 60px;
}
section{
    padding: 20px;
    background-color: floralwhite;
}
.Hero{
    display: flex;
    flex-direction: column;
}
.Hero--logo{
    height: 40%;
    width: 40%;
    align-self: center;
}
.Hero--header{
    margin-bottom: 16px;
    font-size: 50px;
    text-decoration: underline dashed blue;
}
.Hero--text{
    margin-top: 0;
    font-size: 25px;
    font-style: italic;
    font-weight: bold
}